<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panguaxe.sky.land.mapper.EarningsClassifyMapper">
  <resultMap id="BaseResultMap" type="com.panguaxe.sky.land.model.EarningsClassify">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="userInfoId" jdbcType="VARCHAR" property="userInfoId" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="profitType" jdbcType="VARCHAR" property="profitType" />
    <result column="extend" jdbcType="VARCHAR" property="extend" />
    <result column="createDate" jdbcType="VARCHAR" property="createDate" />
    <result column="updateDate" jdbcType="VARCHAR" property="updateDate" />
  </resultMap>
</mapper>